/* ::::: http://www.400301.com/css/style.css ::::: */

body, div, ul, li, a, img, p, dl, dt, dd, h1, h2, h3, h4, span, strong { margin: 0px; padding: 0px; text-decoration: none; border: 0px none; list-style: outside none none; }
body { font-size: 12px; font-family: "Microsoft YaHei"; color: rgb(102, 102, 102); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a { color: rgb(102, 102, 102); }
a:hover { color: rgb(255, 102, 0); text-decoration: underline; }
p { line-height: 1.8em; padding: 5px 0px; }
h2 { font-size: 14px; }
.clear { margin: 0px; padding: 0px; font-size: 0px; clear: both; }
.wapper { width: 1200px; margin: 0px auto; }
.header { height: 184px; position: relative; z-index: 99; }
.top_01 { height: 35px; line-height: 35px; border-bottom: 1px solid rgb(230, 230, 230); background-color: rgb(242, 242, 242); position: relative; z-index: 999; }
.top_01 .shoucang { float: left; font-weight: normal; }
.top_01 .shoucang a { display: block; padding-left: 20px; background: transparent url('shoucang_01.png') no-repeat scroll 0px center; }
.top_01 .shoucang a:hover { text-decoration: none; }
.top_01 .weixin { float: left; margin-left: 15px; font-weight: normal; position: relative; }
.top_01 .weixin a { display: block; padding-left: 34px; padding-right: 10px; background: transparent url('weixin_01.png') no-repeat scroll 10px center; position: relative; z-index: 5; border-left: 1px solid rgb(242, 242, 242); border-right: 1px solid rgb(242, 242, 242); }
.top_01 .weixin a:hover { text-decoration: none; }
.top_01 span { float: right; margin-left: 10px; }
.top_01 .weixin .con { position: absolute; top: 34px; z-index: 1; background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 15px 20px 10px; width: 124px; border: 1px solid rgb(217, 217, 217); display: none; }
.top_01 .weixin .con b { display: block; line-height: 20px; text-align: center; font-weight: normal; }
.top_02 { height: 109px; overflow: hidden; position: relative; z-index: 1; }
.top_2_left { float: left; margin-top: 9px; height: 90px; overflow: hidden; }
.top_2_center { float: left; padding-left: 114px; padding-top: 33px; }
.top_2_seach { width: 400px; height: 36px; overflow: hidden; background: transparent url('shouye_01.gif') no-repeat scroll 0% 0%; position: relative; }
.top_02_re { height: 30px; line-height: 30px; color: rgb(153, 153, 153); }
.top_02_re a { color: rgb(153, 153, 153); float: left; margin-right: 10px; }
.top_02_re a:hover { color: rgb(255, 102, 0); }
.top_2_seach input { outline: medium none; }
.top_03 { height: 40px; line-height: 40px; background: transparent url('menu_2016.gif') repeat-x scroll center bottom; width: 100%; }
.top_3_left { float: left; width: 200px; position: relative; z-index: 99; }
.top_3_right { float: right; width: 1000px; height: 40px; }
.top_02 .tel { float: right; height: 54px; overflow: hidden; margin-top: 25px; }
.top_02 .tel span { display: block; height: 54px; line-height: 54px; color: rgb(102, 102, 102); padding-left: 33px; float: right; background: transparent url('tel_01.png') no-repeat scroll 0px center; font-size: 14px; }
.top_02 .tel strong { display: block; height: 54px; line-height: 54px; font-weight: normal; float: right; background: transparent url('shuxian.gif') no-repeat scroll 0px center; margin-left: 20px; }
.top_02 .tel strong a { display: block; padding-left: 33px; font-size: 14px; color: rgb(102, 102, 102); background: transparent url('kefu_01.png') no-repeat scroll 0px center; margin-left: 20px; }
.top_02 .tel strong a:hover { color: rgb(255, 102, 0); text-decoration: none; }
.menu { height: 40px; padding-left: 30px; }
.menu ul { height: 40px; line-height: 40px; }
.menu ul li { float: left; display: block; height: 40px; padding: 0px; position: relative; }
.menu a { font-size: 15px; font-weight: bold; color: rgb(77, 77, 77); text-decoration: none; display: block; padding: 0px 20px; height: 40px; text-align: center; }
.menu a:hover { color: rgb(231, 47, 60); }
.menu_down span { display: block; background: transparent url('menu_down.gif') no-repeat scroll 55px center; }
.top_3_left h2 { height: 40px; line-height: 40px; background: rgb(231, 47, 60) url('fl.gif') no-repeat scroll 15px center; padding-left: 40px; color: rgb(255, 255, 255); }
.menu_down_con { background-color: rgba(39, 44, 48, 0.95); position: absolute; top: 40px; left: 0px; width: 100%; display: none; }
.menu_side { height: 400px; padding: 10px 0px; margin: 0px auto; width: 970px; }
.menu_side dl { padding-left: 203px; }
.menu_side dl dd { height: 40px; line-height: 40px; width: 200px; margin-top: 10px; }
.menu_side dl dd a { display: block; padding-left: 42px; text-align: left; font-weight: normal; color: rgb(255, 255, 255); background: rgb(79, 83, 86) url('menu_f.png') no-repeat scroll 16px center; }
.menu_side dl .meun_a a:hover { background: rgb(231, 47, 60) url('menu_a.png') no-repeat scroll 10px center; color: rgb(255, 255, 255); }
.menu_side dl .meun_b a:hover { background: rgb(231, 47, 60) url('menu_b.png') no-repeat scroll 10px center; color: rgb(255, 255, 255); }
.menu_side dl .meun_c a:hover { background: rgb(231, 47, 60) url('menu_c.png') no-repeat scroll 10px center; color: rgb(255, 255, 255); }
.menu_side dl .meun_d a:hover { background: rgb(231, 47, 60) url('menu_d.png') no-repeat scroll 10px center; color: rgb(255, 255, 255); }
.menu_side dl .meun_e a:hover { background: rgb(231, 47, 60) url('menu_e.png') no-repeat scroll 10px center; color: rgb(255, 255, 255); }
.top_3_left { position: relative; box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.2); }
.top_3_left .side { position: absolute; top: 40px; left: 0px; width: 200px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); height: 420px; border-bottom: 1px solid rgb(221, 221, 221); display: none; }
.top_3_left .side .side_list { position: relative; }
.top_3_left .side .side_list h3 { height: 30px; border-bottom: 1px dotted rgb(221, 221, 221); line-height: 30px; padding-left: 40px; font-weight: normal; font-size: 12px; }
.dao_01 { background: transparent url('dao_01.gif') no-repeat scroll 12px 5px; }
.dao_02 { background: transparent url('dao_02.gif') no-repeat scroll 12px 5px; }
.dao_03 { background: transparent url('dao_03.gif') no-repeat scroll 12px 5px; }
.dao_04 { background: transparent url('dao_04.gif') no-repeat scroll 12px 5px; }
.dao_05 { background: transparent url('dao_05.gif') no-repeat scroll 12px 5px; }
.dao_06 { background: transparent url('dao_06.gif') no-repeat scroll 12px 5px; }
.dao_07 { background: transparent url('dao_07.gif') no-repeat scroll 12px 5px; }
.dao_08 { background: transparent url('dao_08.gif') no-repeat scroll 12px 5px; }
.dao_09 { background: transparent url('dao_09.gif') no-repeat scroll 12px 5px; }
.dao_10 { background: transparent url('dao_10.gif') no-repeat scroll 12px 5px; }
.dao_11 { background: transparent url('dao_11.gif') no-repeat scroll 12px 5px; }
.dao_12 { background: transparent url('dao_12.gif') no-repeat scroll 12px 5px; }
.dao_13 { background: transparent url('dao_13.gif') no-repeat scroll 12px 8px; }
.side_list_con { display: none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; left: 190px; top: 0px; width: 300px; border: 1px solid rgb(238, 238, 238); }
.side_list_con { padding: 10px 20px; }
.side_list_con dl dt { color: rgb(255, 102, 0); font-size: 14px; font-weight: bold; height: 30px; line-height: 30px; }
.side_list_con dl dd { line-height: 24px; }
.side_list_con dl dd a { float: left; }
.banner { height: 420px; background: rgb(221, 221, 221) none repeat scroll 0% 0%; position: relative; z-index: 1; }
.lunhuan { width: 100%; height: 420px; position: relative; overflow: hidden; }
.lunhuan #lunhuanback { width: 100%; height: 420px; position: absolute; left: 0px; top: 0px; overflow: hidden; }
.lunhuan #lunhuanback p { width: 100%; height: 420px; position: absolute; left: 0px; top: 0px; opacity: 0; background-repeat: no-repeat; background-position: 50% 0px; }
.lunhuan .lunhuan_main { width: 1190px; height: 420px; margin: 0px auto; position: relative; }
.lunhuancenter { width: 757px; height: 420px; position: absolute; left: 240px; top: 0px; }
.lunhuancenter b { position: absolute; left: 15px; bottom: -37px; opacity: 0; z-index: 3; width: 124px; height: 37px; display: block; }
#lunbonum { height: 14px; line-height: 23px; position: absolute; left: 19px; top: 393px; z-index: 5; }
#lunbonum li { width: 14px; height: 14px; float: left; margin-right: 9px; background: rgb(180, 180, 180) none repeat scroll 0% 0%; border-radius: 14px; cursor: pointer; }
#lunbonum .lunboone { background: rgb(200, 0, 2) none repeat scroll 0% 0%; cursor: pointer; }
.banner .banner_list { height: 0px; position: relative; z-index: 99; }
.banner_list_con { position: absolute; right: 0px; top: 140px; width: 220px; height: 280px; overflow: hidden; background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%; }
.banner_list_con h2 { height: 40px; line-height: 40px; border-bottom: 1px solid rgb(187, 187, 187); color: rgb(51, 51, 51); margin: 12px 10px 0px; }
.banner_list_con h2 strong { font-weight: normal; }
.banner_list_con .bd { padding: 0px 10px; overflow: hidden; width: 200px; }
.banner_list_con .bd ul li { padding-right: 20px; width: 200px; }
.banner_list_con .bd ul li h3 { height: 40px; line-height: 20px; font-size: 12px; padding-top: 15px; padding-bottom: 5px; font-weight: normal; border-bottom: 1px dotted rgb(187, 187, 187); }
.banner_list_con .bd ul li h3 strong { float: left; font-weight: normal; padding-left: 10px; }
.banner_list_con .bd ul li h3 b { float: left; height: 40px; overflow: hidden; }
.banner_list_con .bd ul li h3 span { color: rgb(153, 153, 153); }
.banner_list_con .bd ul li div { line-height: 20px; padding-top: 5px; }
.banner_list_con .bd ul li div span { padding-top: 10px; line-height: 20px; display: block; }
.banner_list_con .bd ul li div a { color: rgb(255, 102, 0); }
.cxfw { margin-top: 25px; }
.cxfw_con { border: 1px solid rgb(239, 239, 239); overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.cxfw_con ul { padding-left: 1px; }
.cxfw_con ul li { float: left; border-right: 1px solid rgb(240, 240, 240); width: 298px; }
.cxfw_con ul li { height: 90px; line-height: 24px; }
.cxfw_con ul li h3 { font-size: 16px; font-weight: normal; height: 20px; line-height: 20px; color: rgb(51, 51, 51); width: 215px; float: right; padding-right: 20px; }
.cxfw_con ul li span { color: rgb(153, 153, 153); display: block; line-height: 20px; float: right; padding-top: 5px; width: 215px; padding-right: 20px; }
.cxfw_con ul li strong { float: left; padding-left: 20px; }
.content_01 { margin-top: 20px; overflow: hidden; width: 1200px; }
.content_01 .hd { height: 40px; line-height: 40px; overflow: hidden; background: transparent url('title.gif') repeat-x scroll center bottom; }
.content_01 .hd strong { float: left; font-size: 18px; color: rgb(51, 51, 51); width: 190px; font-weight: normal; }
.content_01 .hd span { float: right; font-family: Arial,Helvetica,sans-serif; padding-right: 10px; }
.content_01 .hd ul { float: left; margin-left: 30px; }
.content_01 .hd ul li { float: left; padding: 0px 10px; width: 100px; text-align: center; font-size: 14px; cursor: pointer; }
.content_01 .hd ul li.on { color: rgb(255, 102, 0); font-weight: bold; background: transparent url('title_hover.gif') no-repeat scroll center bottom; }
.content_01 .bd { width: 1200px; overflow: hidden; }
.content_01 .bd ul { width: 1232px; }
.content_01 .bd ul li { float: left; width: 285px; overflow: hidden; margin-right: 20px; margin-top: 20px; }
.content_01 .bd ul li h2 a img { width: 283px; }
.content_01 .bd ul li h2 { height: 212px; width: 100%; overflow: hidden; position: relative; }
.content_01 .bd ul li h2 a { display: block; }
.content_01 .bd ul li h2 b { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; background: transparent url('see_bg2.png') no-repeat scroll center center; opacity: 0; transition: all 0.6s ease 0s; }
.content_01 .bd ul li h2:hover b { opacity: 1; }
:root .content_01 .bd ul li h2:hover b { filter: none; }
.content_01 .bd ul li h3 { height: 40px; line-height: 40px; padding: 0px 10px; position: relative; }
.content_01 .bd ul li h3 span { float: left; font-size: 12px; margin-right: 10px; font-weight: normal; font-family: Arial,Helvetica,sans-serif; }
.content_01 .bd ul li h3 strong { display: block; float: left; width: 26px; height: 26px; margin-top: 7px; margin-right: 6px; overflow: hidden; position: relative; }
.content_01 .bd ul li h3 strong .paodong { position: absolute; top: -26px; left: 0px; width: 26px; height: 26px; }
.content_01 .bd ul li h3 .b01 { background: transparent url('shouji.png') no-repeat scroll left center; }
.content_01 .bd ul li h3 .b01:hover { background: transparent url('shouji_hover.png') no-repeat scroll left center; }
.content_01 .bd ul li h3 .b02 { background: transparent url('shouji.png') no-repeat scroll center center; }
.content_01 .bd ul li h3 .b02:hover { background: transparent url('shouji_hover.png') no-repeat scroll center center; }
.content_01 .bd ul li h3 .b03 { background: transparent url('shouji.png') no-repeat scroll right center; }
.content_01 .bd ul li h3 .b03:hover { background: transparent url('shouji_hover.png') no-repeat scroll right center; }
.content_01 .bd ul li h3 b { display: block; width: 60px; height: 40px; background: transparent url('dmz.png') no-repeat scroll center center; float: right; }
.hd_hover { border: 1px solid rgb(238, 238, 238); transition: all 0.6s ease 0s; }
.content_01_con { padding-bottom: 15px; }
.xinwen { background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.xinwen h2 { height: 30px; line-height: 30px; overflow: hidden; }
.xinwen h2 strong { float: left; }
.xinwen h2 strong span { font-weight: normal; color: rgb(187, 187, 187); }
.xinwen ul li { line-height: 24px; height: 24px; }
.xinwen h2 a { float: right; font-weight: normal; font-size: 12px; color: rgb(153, 153, 153); margin-right: 20px; }
.xinwen .news { float: left; width: 350px; border-right: 1px solid rgb(221, 221, 221); }
.xinwen .seo { float: left; width: 350px; border-right: 1px solid rgb(221, 221, 221); margin-left: 75px; }
.xinwen .kfpj { float: right; width: 350px; }
.footer .footer_01 { width: 100%; }
.footer .footer_01 ul { padding-top: 20px; float: left; }
.footer .footer_01 ul li { width: 220px; float: left; }
.footer .footer_01 ul li dl dt { height: 60px; line-height: 60px; font-size: 16px; color: rgb(255, 255, 255); padding-top: 10px; }
.footer .footer_01 ul li dl dt strong { font-weight: normal; }
.footer .footer_01 ul li dl dd { line-height: 30px; height: 30px; }
.footer .footer_01 ul li dl dd a { color: rgb(169, 176, 180); font-size: 14px; }
.footer .footer_02 { text-align: center; }
.footer .footer_02 dl { padding-top: 10px; }
.footer .footer_02 dl dt { height: 30px; line-height: 30px; color: rgb(221, 221, 221); }
.footer .footer_02 dl dt a { padding: 0px 5px; }
.footer .footer_02 dl dd { height: 24px; line-height: 24px; color: rgb(102, 102, 102); }
.footer .footer_02 dl dd a { padding: 0px 5px; color: rgb(102, 102, 102); }
.footer .footer_02 dl dd a:hover { color: rgb(255, 102, 0); }
.footer .footer_02 h2 { padding: 10px 0px 20px; }
.footer .footer_02 h2 img { padding: 0px 5px; }
.fotter_1200 { background: rgb(55, 61, 65) none repeat scroll 0% 0%; }
.fotter_1200 .footer_02 { border-top: 1px solid rgb(77, 82, 86); margin-top: 60px; font-size: 14px; color: rgb(179, 179, 179); padding: 6px 0px 40px; }
.fotter_1200 .footer_02 a { font-size: 14px; color: rgb(179, 179, 179); }
.fotter_1200 .footer_02 dl { width: 1200px; margin: 0px auto; }
.fotter_1200 .footer_02 dl dt { height: 30px; line-height: 30px; color: rgb(221, 221, 221); text-align: left; padding: 5px 0px 11px; position: relative; }
.fotter_1200 .footer_02 dl dt a { padding: 0px 5px 0px 0px; font-size: 16px; color: rgb(255, 255, 255); }
.fotter_1200 .footer_02 dl dt .footer_sou { position: absolute; width: 270px; height: 32px; background: transparent url('kouhao_05.gif') no-repeat scroll 0% 0%; right: 0px; top: 4px; overflow: hidden; }
.fotter_1200 .footer_02 dl dt .footer_sou .a { padding-left: 5%; color: rgb(179, 179, 179); display: block; position: absolute; left: 0px; top: 0px; border: medium none; width: 80%; height: 30px; line-height: 30px; background: transparent none repeat scroll 0% 0%; font-family: "Microsoft YaHei"; }
.fotter_1200 .footer_02 dl dt .footer_sou .b { display: block; position: absolute; right: 0px; top: 0px; border: medium none; width: 15%; height: 32px; line-height: 32px; background: transparent none repeat scroll 0% 0%; font-family: "Microsoft YaHei"; cursor: pointer; }
.fotter_1200 .footer_02 dl dd { text-align: left; line-height: 24px; color: rgb(179, 179, 179); }
.fotter_1200 .footer_02 dl dd a { padding: 0px; color: rgb(179, 179, 179); }
.more { height: 50px; line-height: 50px; margin-top: 20px; }
.more span { display: block; height: 50px; border: 1px solid rgb(221, 221, 221); color: rgb(102, 102, 102); text-align: center; line-height: 50px; border-radius: 3px; font-size: 24px; cursor: pointer; transition: all 0.2s ease 0s; background: rgb(244, 244, 244) none repeat scroll 0% 0%; }
.more span:hover { background: rgb(240, 240, 240) none repeat scroll 0% 0%; }
.izl-rmenu { position: fixed; right: 0px; margin-right: 20px; bottom: 100px; padding-bottom: 20px; z-index: 999; }
.izl-rmenu .btn { width: 72px; height: 73px; margin-bottom: 1px; cursor: pointer; position: relative; display: block; }
.izl-rmenu .btn-jzjg { background: rgb(226, 74, 74) url('r_jzjg.png') no-repeat scroll 0px 0px; }
.izl-rmenu .btn-jzjg:hover { background-color: rgb(203, 49, 49); }
.izl-rmenu .btn-jzlc { background: rgb(102, 126, 216) url('r_jzlc.png') no-repeat scroll 0px 0px; }
.izl-rmenu .btn-jzlc:hover { background-color: rgb(69, 96, 196); }
.izl-rmenu .btn-qq { background: rgb(109, 169, 222) url('r_qq.png') no-repeat scroll 0px 0px; cursor: auto; }
.izl-rmenu .btn-qq:hover { background-color: rgb(72, 139, 199); }
.izl-rmenu a.btn-qq, .izl-rmenu a.btn-qq:visited { background: rgb(109, 169, 222) url('r_qq.png') no-repeat scroll 0px 0px; text-decoration: none; display: block; }
.izl-rmenu .btn-wx { background: rgb(120, 195, 64) url('r_wx.png') no-repeat scroll 0px 0px; }
.izl-rmenu .btn-wx:hover { background-color: rgb(88, 168, 28); }
.izl-rmenu .btn-phone { background: rgb(251, 176, 31) url('r_phone.png') no-repeat scroll 0px 0px; }
.izl-rmenu .btn-phone:hover { background-color: rgb(255, 129, 27); }
.izl-rmenu .btn-phone .phone { background-color: rgb(255, 129, 27); position: absolute; width: 160px; left: -160px; top: 0px; line-height: 73px; color: rgb(255, 255, 255); font-size: 18px; text-align: center; display: none; }
.izl-rmenu .btn-top { background: rgb(102, 102, 102) url('r_top.png') no-repeat scroll 0px 0px; display: none; }
.izl-rmenu .btn-top:hover { background-color: rgb(68, 68, 68); }
@media screen and (max-width: 1440px) {
	.izl-rmenu { position: fixed; right: 0px; margin-right: 0px; bottom: 100px; padding-bottom: 20px; z-index: 999; }
	.izl-rmenu .btn { width: 62px; height: 63px; margin-bottom: 1px; cursor: pointer; position: relative; display: block; }
	.izl-rmenu .btn-jzjg { background: rgb(226, 74, 74) url('r_jzjg_2.png') no-repeat scroll 0px 0px; }
	.izl-rmenu .btn-jzjg:hover { background-color: rgb(203, 49, 49); }
	.izl-rmenu .btn-jzlc { background: rgb(102, 126, 216) url('r_jzlc_2.png') no-repeat scroll 0px 0px; }
	.izl-rmenu .btn-jzlc:hover { background-color: rgb(69, 96, 196); }
	.izl-rmenu .btn-qq { background: rgb(109, 169, 222) url('r_qq_2.png') no-repeat scroll 0px 0px; cursor: auto; }
	.izl-rmenu .btn-qq:hover { background-color: rgb(72, 139, 199); }
	.izl-rmenu a.btn-qq, .izl-rmenu a.btn-qq:visited { background: rgb(109, 169, 222) url('r_qq_2.png') no-repeat scroll 0px 0px; text-decoration: none; display: block; }
	.izl-rmenu .btn-wx { background: rgb(120, 195, 64) url('r_wx_2.png') no-repeat scroll 0px 0px; }
	.izl-rmenu .btn-wx:hover { background-color: rgb(88, 168, 28); }
	.izl-rmenu .btn-phone { background: rgb(251, 176, 31) url('r_phone_2.png') no-repeat scroll 0px 0px; }
	.izl-rmenu .btn-phone:hover { background-color: rgb(255, 129, 27); }
	.izl-rmenu .btn-phone .phone { background-color: rgb(255, 129, 27); position: absolute; width: 146px; left: -146px; top: 0px; line-height: 63px; color: rgb(255, 255, 255); font-size: 18px; text-align: center; display: none; }
	.izl-rmenu .btn-top { background: rgb(102, 102, 102) url('r_top_2.png') no-repeat scroll 0px 0px; display: none; }
	.izl-rmenu .btn-top:hover { background-color: rgb(68, 68, 68); }
}
.menu ul li .hot { position: absolute; top: -15px; right: 40%; }
.wuyoushi_con { margin-top: 30px; }
.wuyoushi { height: 150px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px dotted rgb(246, 214, 216); width: 1198px; }
.wuyoushi ul { width: 1250px; }
.wuyoushi ul li { float: left; width: 239px; height: 150px; text-align: center; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-right: 1px solid rgb(246, 214, 216); padding: 15px 0px; transition: all 0.2s ease 0s; }
.wuyoushi ul li span { display: block; height: 60px; overflow: hidden; margin-top: 5px; }
.wuyoushi ul .a span { background: transparent url('wuyoushi_01.png') no-repeat scroll center center; transition: all 0.2s ease 0s; }
.wuyoushi ul .a:hover span { background: transparent url('wuyoushi_01_hover.png') no-repeat scroll center center; }
.wuyoushi ul .b span { background: transparent url('wuyoushi_02.png') no-repeat scroll center center; transition: all 0.2s ease 0s; }
.wuyoushi ul .b:hover span { background: transparent url('wuyoushi_02_hover.png') no-repeat scroll center center; }
.wuyoushi ul .c span { background: transparent url('wuyoushi_03.png') no-repeat scroll center center; transition: all 0.2s ease 0s; }
.wuyoushi ul .c:hover span { background: transparent url('wuyoushi_03_hover.png') no-repeat scroll center center; }
.wuyoushi ul .d span { background: transparent url('wuyoushi_04.png') no-repeat scroll center center; transition: all 0.2s ease 0s; }
.wuyoushi ul .d:hover span { background: transparent url('wuyoushi_04_hover.png') no-repeat scroll center center; }
.wuyoushi ul .e span { background: transparent url('wuyoushi_05.png') no-repeat scroll center center; transition: all 0.2s ease 0s; }
.wuyoushi ul .e:hover span { background: transparent url('wuyoushi_05_hover.png') no-repeat scroll center center; }
.wuyoushi ul li:hover { background: rgb(231, 47, 60) none repeat scroll 0% 0%; }
.wuyoushi ul li:hover strong { color: rgb(255, 255, 255); }
.wuyoushi ul li:hover strong h2 { color: rgb(255, 255, 255); }
.wuyoushi ul li strong { display: block; font-size: 12px; color: rgb(153, 153, 153); font-weight: normal; margin-top: 3px; transition: all 0.2s ease 0s; }
.wuyoushi ul li strong h2 { font-family: tahoma,arial,"Hiragino Sans GB","微软雅黑",sans-serif; height: 30px; line-height: 30px; font-weight: normal; font-size: 18px; color: rgb(51, 51, 51); transition: all 0.2s ease 0s; }
.kouhao { height: 124px; }
.kouhao ul { margin: 0px auto; width: 1100px; height: 124px; border-bottom: 1px solid rgb(77, 82, 86); }
.kouhao ul li { height: 124px; line-height: 124px; width: 25%; float: left; }
.kouhao ul li img { width: 50px; }
.kouhao ul li strong { float: left; margin-top: 20px; }
.kouhao ul li span { font-size: 16px; color: rgb(255, 255, 255); float: left; padding-left: 10px; }
.ljjm { height: 144px; overflow: hidden; background: rgb(231, 47, 60) none repeat scroll 0% 0%; }
.ljjm .con .sp1 { line-height: 144px; color: rgb(255, 255, 255); font-size: 24px; float: left; }
.ljjm .con .a1 { width: 188px; height: 50px; display: inline-block; background-color: rgb(150, 203, 17); border-radius: 5px; text-align: center; line-height: 50px; font-size: 18px; color: rgb(255, 255, 255); margin-top: 45px; margin-left: 97px; float: left; }
.ljjm .con .sp2 { line-height: 144px; color: rgb(255, 255, 255); font-size: 14px; margin: 0px 53px; float: left; }
.ljjm .con .a2 { width: 160px; height: 50px; display: inline-block; background-color: rgb(79, 123, 147); border-radius: 5px; text-align: center; line-height: 50px; font-size: 18px; color: rgb(255, 255, 255); margin-top: 45px; float: left; }
.ljjm .con .sp3 { float: left; line-height: 144px; color: rgb(255, 255, 255); font-size: 14px; margin: 0px 53px; }
.foot_phone { background: rgb(231, 47, 60) none repeat scroll 0% 0%; height: 40px; float: left; margin-top: 50px; position: relative; }
.foot_phone a { color: rgb(255, 255, 255); }
.foot_phone b { float: left; width: 14px; height: 36px; display: inline-block; background: transparent url('kouhao_06.png') no-repeat scroll 0px center; margin-top: 2px; }
.foot_phone span { display: block; float: left; font-size: 14px; color: rgb(255, 255, 255); line-height: 20px; padding: 0px; margin: 0px 0px 0px 10px; }
.foot_phone strong { display: block; font-weight: normal; }
.wmdys { height: 500px; overflow: hidden; color: rgb(255, 255, 255); margin-top: 20px; background: rgb(221, 221, 221) url('wmdys.jpg') no-repeat fixed center center; position: relative; }
.wmdys .con { width: 1200px; margin: 0px auto; }
.wmdys .con h2 { line-height: 68px; height: 68px; margin-top: 35px; font-size: 30px; font-weight: normal; text-align: center; }
.wmdys .con .title { line-height: 20px; height: 40px; text-align: center; }
.wmdys .con ul { padding-top: 60px; }
.wmdys .con ul li { width: 300px; float: left; margin-bottom: 35px; height: 35px; line-height: 35px; padding-top: 62px; font-size: 14px; text-align: center; }
.top_3_left .side { display: block; }
/* ::::: http://sgoutong.baidu.com/embed/1487658916/asset/embed/css/pc/main.css ::::: */

#newBridge, #nbInviteWrapper, #nbWebImLightContainer { color: rgb(0, 0, 0); font-style: normal; font-weight: normal; letter-spacing: normal; word-spacing: normal; white-space: normal; }
#newBridge, #nbInviteWrapper, #nbWebImLightContainer, #newBridge ins, #nbInviteWrapper ins, #nbWebImLightContainer ins, #newBridge a, #nbInviteWrapper a, #nbWebImLightContainer a, #newBridge div, #nbInviteWrapper div, #nbWebImLightContainer div, #newBridge p, #nbInviteWrapper p, #nbWebImLightContainer p, #newBridge em, #nbInviteWrapper em, #nbWebImLightContainer em, #newBridge b, #nbInviteWrapper b, #nbWebImLightContainer b, #newBridge dd, #nbInviteWrapper dd, #nbWebImLightContainer dd, #newBridge dl, #nbInviteWrapper dl, #nbWebImLightContainer dl, #newBridge ul, #nbInviteWrapper ul, #nbWebImLightContainer ul, #newBridge li, #nbInviteWrapper li, #nbWebImLightContainer li, #newBridge i, #nbInviteWrapper i, #nbWebImLightContainer i, #newBridge h1, #nbInviteWrapper h1, #nbWebImLightContainer h1, #newBridge h2, #nbInviteWrapper h2, #nbWebImLightContainer h2, #newBridge h3, #nbInviteWrapper h3, #nbWebImLightContainer h3, #newBridge h4, #nbInviteWrapper h4, #nbWebImLightContainer h4, #newBridge h5, #nbInviteWrapper h5, #nbWebImLightContainer h5, #newBridge span, #nbInviteWrapper span, #nbWebImLightContainer span, #newBridge table, #nbInviteWrapper table, #nbWebImLightContainer table, #newBridge td, #nbInviteWrapper td, #nbWebImLightContainer td, #newBridge tr, #nbInviteWrapper tr, #nbWebImLightContainer tr, #newBridge tbody, #nbInviteWrapper tbody, #nbWebImLightContainer tbody, #newBridge thead, #nbInviteWrapper thead, #nbWebImLightContainer thead, #newBridge strong, #nbInviteWrapper strong, #nbWebImLightContainer strong, #newBridge u, #nbInviteWrapper u, #nbWebImLightContainer u, #newBridge img, #nbInviteWrapper img, #nbWebImLightContainer img, #newBridge font, #nbInviteWrapper font, #nbWebImLightContainer font, #newBridge select, #nbInviteWrapper select, #nbWebImLightContainer select, #newBridge option, #nbInviteWrapper option, #nbWebImLightContainer option, #newBridge input, #nbInviteWrapper input, #nbWebImLightContainer input, #newBridge form, #nbInviteWrapper form, #nbWebImLightContainer form, #newBridge textarea, #nbInviteWrapper textarea, #nbWebImLightContainer textarea { width: auto; height: auto; margin: 0px; padding: 0px; background: transparent none repeat scroll 0px 0px; border: medium none; color: inherit; direction: ltr; letter-spacing: inherit; line-height: normal; text-align: left; text-decoration: none; text-indent: 0px; text-transform: none; white-space: inherit; word-spacing: normal; font-size: 12px; font-family: inherit; font-size-adjust: none; font-stretch: normal; font-style: inherit; font-variant: normal; font-weight: inherit; visibility: visible; overflow: visible; list-style: outside none none; float: none; clear: none; display: block; position: static; top: auto; left: auto; box-sizing: content-box; }
#newBridge .nb-invite-wrap { color: rgb(0, 0, 0); }
#newBridge .nb-invite-wrap .nb-invite-text { position: absolute; top: 44px; left: 128px; font-size: 13px; color: rgb(255, 255, 255); margin-right: 26px; }
#newBridge .nb-invite-body { position: relative; overflow: hidden; }
#newBridge .nb-invite-wrap-base { background: transparent none no-repeat scroll 0% 0%; border-radius: 3px; overflow: hidden; }
#newBridge .nb-invite-wrap-base .nb-invite-tool-base { width: 18px; height: 18px; position: absolute; right: 8px; top: 8px; left: auto; bottom: auto; cursor: pointer; background: transparent url('close.png') no-repeat scroll 0% 0%; }
#newBridge .nb-invite-wrap-base .nb-invite-text-base .nb-invite-welcome-base, #newBridge .nb-invite-wrap-base .nb-invite-text-base p { margin: 0px; font-size: 13pt; color: rgb(255, 255, 255); word-break: break-all; }
#newBridge .nb-invite-wrap-base .nb-invite-btn-base { position: absolute; bottom: 12px; right: 12px; top: auto; left: auto; }
#newBridge .nb-invite-wrap-base .nb-invite-cancel-base { display: inline-block; width: 80px; height: 32px; line-height: 32px; text-align: center; border: 1px solid rgb(255, 255, 255); border-radius: 5px; cursor: pointer; font-size: 13px; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
#newBridge .nb-invite-wrap-base .nb-invite-ok-base { display: inline-block; width: 80px; height: 32px; line-height: 32px; text-align: center; border: 1px solid rgb(255, 255, 255); border-radius: 5px; cursor: pointer; font-size: 13px; color: rgb(0, 133, 218); margin-left: 8px; }
#newBridge .customer-invite-style .nb-invite-cancel, #newBridge .customer-invite-style .nb-invite-ok { border: medium none ! important; }
#newBridge .customer-invite-style .nb-invite-cancel { background-color: rgb(255, 255, 255) ! important; color: rgb(0, 0, 0) ! important; }
#newBridge .customer-invite-style .nb-invite-tool { background: transparent url('close_1.png') no-repeat scroll center center; }
#newBridge .nb-position-base { position: fixed; }
#newBridge .nb-middle { top: 50%; left: 50%; bottom: auto; right: auto; margin: -80px 0px 0px -230px; }
#newBridge .nb-invite-skin-0 { display: block; background: rgb(0, 133, 218) url('inviteback0.png') no-repeat scroll 0% 0%; }
#newBridge .nb-invite-skin-0 .nb-invite-ok { color: rgb(0, 133, 218); background-color: rgb(255, 255, 255); }
#newBridge .nb-invite-skin-0 .nb-invite-cancel { background-color: transparent; }
#newBridge .nb-icon-group .nb-clearfix::after { content: ""; display: block; height: 0px; line-height: 0; clear: both; visibility: hidden; }
#newBridge .nodeName { background: rgb(255, 255, 255) url('user.png') no-repeat scroll 9px center; }
#newBridge .nodePhone { background: rgb(255, 255, 255) url('nodephone.png') no-repeat scroll 9px center; }
#newBridge .nodeAddress { background: rgb(255, 255, 255) url('nodelocation.png') no-repeat scroll 9px center; }
#newBridge .nodeMail { background: rgb(255, 255, 255) url('nodemail.png') no-repeat scroll 9px center; }
#newBridge .nb-nodeboard-base { height: auto; width: 240px; border-radius: 3px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base { color: rgb(0, 0, 0); border-radius: 5px; background-color: rgb(237, 237, 237); }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-top { height: 35px; line-height: 35px; font-size: 14px; background-color: rgb(0, 174, 243); border-top-left-radius: 5px; border-top-right-radius: 5px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-head-title { float: left; font-size: 14px; color: rgb(255, 255, 255); margin-left: 12px; line-height: 35px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-close { display: inline-block; float: right; height: 30px; width: 34px; margin-top: 2px; cursor: pointer; background: transparent url('nodemin.png') no-repeat scroll 0% 0%; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form { display: inline; background-color: rgb(237, 237, 237); }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-set {  }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-content { position: relative; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-set-content { width: 212px; height: 79px; margin: 12px auto 7px; padding: 0px 4px; resize: none; overflow: hidden; border: 1px solid rgb(213, 213, 213); background-color: rgb(255, 255, 255); text-align: left; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-name { height: 30px; width: 221px; line-height: 30px; margin: 7px auto 0px; border: 1px solid rgb(213, 213, 213); position: relative; background-color: rgb(255, 255, 255); }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-icon { width: 35px; height: 30px; display: inline-block; text-align: center; background-color: rgb(255, 255, 255); vertical-align: top; border-right: 1px solid rgb(255, 255, 255); }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-board-form .nb-nodeboard-input { margin: 0px; width: 140px; height: 30px; line-height: 30px; border: medium none; display: inline-block; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-success { display: none; height: 314px; background-color: rgb(237, 237, 237); }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-box { width: 120px; position: absolute; top: 50%; left: 50%; margin-left: -60px; margin-top: -55px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-icon { height: 72px; width: 80px; margin: 0px auto; background: transparent url('bridge.png') no-repeat scroll center center; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-title { color: rgb(51, 51, 51); font-size: 14px; text-align: center; margin-top: 10px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-success-content { color: rgb(51, 51, 51); text-align: center; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-sucess-close { height: 30px; width: 90px; color: rgb(255, 255, 255); margin: 20px auto 0px; background-color: rgb(0, 174, 243); text-align: center; line-height: 32px; cursor: pointer; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-send { width: 202px; margin: 12px auto 0px 10px; padding-bottom: 18px; }
#newBridge .nb-nodeboard-base .nb-nodeboard-contain-base .nb-nodeboard-send-btn { height: 35px; width: 90px; line-height: 35px; text-align: center; border-radius: 2px; font-size: 14px; color: rgb(255, 255, 255); cursor: pointer; background-color: rgb(0, 174, 243); }
#newBridge .nb-nodeboard-position-base { position: fixed; }
#newBridge .nb-nodeboard-left-bottom { left: 1px; bottom: 1px; top: auto; right: auto; }
#newBridge .nb-nodeboard-base .nb-nodeboard-top-0 { background-color: rgb(0, 174, 243); }
#newBridge ins { display: block; text-decoration: none; }
#newBridge { font-family: Arial,Helvetica,"Microsoft YaHei",sans-serif; position: fixed; z-index: 2147483647; }
#newBridge .nb-hide { display: none; }
#newBridge .nb-show { display: block; }
*::-moz-placeholder { color: rgb(171, 171, 171); opacity: 1; }
.fixbox { width: 100%; height: 80px; background: rgb(34, 34, 34) none repeat scroll 0% 0%; position: fixed; bottom: 0px; left: 0px; z-index: 9999; overflow: hidden; }
.fixbox .con { width: 1200px; margin: 0px auto; height: 70px; }
.fixbox .con .box_01 { float: left; margin-left: 65px; line-height: 20px; margin-top: 20px; font-size: 14px; color: rgb(255, 255, 255); width: 150px; text-align: center; }
.fixbox .con .box_02 { float: left; margin-right: 10px; margin-top: 25px; }
.fixbox .con .box_02 input { width: 180px; padding: 0px 10px; color: rgb(170, 170, 170); height: 30px; line-height: 30px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; }
.fixbox .con .box_03 { float: left; margin-right: 10px; margin-top: 25px; }
.fixbox .con .box_03 input { width: 180px; padding: 0px 10px; color: rgb(170, 170, 170); height: 30px; line-height: 30px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; }
.fixbox .con .box_04 { float: left; margin-right: 10px; margin-top: 25px; }
.fixbox .con .box_04 input { width: 180px; padding: 0px 10px; color: rgb(170, 170, 170); height: 30px; line-height: 30px; overflow: hidden; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; }
.fixbox .con .box_05 { float: left; margin-top: 10px; margin-right: 10px; width: 150px; height: 60px; overflow: hidden; }
.fixbox .con .box_05 input { width: 150px; height: 60px; display: block; background: transparent url('fixbox_01.jpg') no-repeat scroll center center; border: medium none; cursor: pointer; }
.fixbox .con .box_06 { float: left; margin-right: 10px; width: 60px; height: 60px; overflow: hidden; margin-top: 10px; }
.fixbox .con .box_06 img { height: 60px; width: 60px; }
.fixbox .con .box_07 { float: left; line-height: 20px; margin-top: 10px; color: rgb(153, 153, 153); }
.fixbox .guanbi { position: absolute; background: transparent url('dibu_00.png') no-repeat scroll 0% 0%; right: 10px; top: 10px; width: 19px; height: 19px; overflow: hidden; cursor: pointer; }
.fixbox .guanbi:hover { background: transparent url('dibu_01.png') no-repeat scroll 0% 0%; }
.fotter_1200 .footer_02 { padding-bottom: 100px; }
.index_top { height: 80px; overflow: hidden; background: transparent url('1920x80.jpg') no-repeat scroll center top; position: relative; }
.index_top a { display: block; height: 80px; position: relative; z-index: 1; }
.index_top span { display: block; height: 19px; width: 19px; background: transparent url('dibu_00.png') no-repeat scroll 0% 0%; right: 10px; bottom: 10px; position: absolute; z-index: 2; cursor: pointer; }
.index_top span:hover { background: transparent url('dibu_01.png') no-repeat scroll 0% 0%; }
.inputSeach { height: 24px; font-family: "Microsoft YaHei"; color: rgb(153, 153, 153); width: 300px; border: 0px none; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; margin: 0px; padding: 0px; position: absolute; left: 5px; top: 6px; }
.btnSeach { height: 36px; width: 90px; text-align: center; line-height: 36px; font-size: 16px; vertical-align: middle; color: rgb(255, 255, 255); position: absolute; right: 0px; top: 0px; background: transparent none repeat scroll 0% 0%; border: medium none; cursor: pointer; font-family: "Microsoft YaHei"; }
.dt666 a { color: rgb(255, 102, 0); }
.ddd a { display: block; width: 80px; margin: 0px; }
